<form action="/users" method="post" id="sign_up_form">
	<input type="text" name="name">
	<input type="text" name="email">
	<input type="password" name="password">
</form>
	
<button type="submit" form="sign_up_form" value="Sign Up">Sign Up</button>