<form action="/users" method="post" id="sign_up_form">
	<label for='email'>
		Email:
		<input type="text" name="email" value='<%= @user.email %>'>
	</label>
	&nbsp;
	<label for='password'>
		Password:
		<input type="password" name="password">
	</label>
	&nbsp;
	<label for='confirm_password'>
		Confirm Password:
		<input type="password" name="password_confirmation">
	</label>
</form>

<button type="submit" form="sign_up_form" value="Sign Up">Sign Up</button>
