<form action="/sign_in" method="post" id="sign_in_form">
	<label for='email'>
		Email:
		<input type="text" name="email" value='email'>
	</label>
	&nbsp;
	<label for='password'>
		Password:
		<input type="password" name="password">
	</label>
	<input type="submit" value="Sign In">
</form>
